body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header-container {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px;
}

.search-bar input[type="text"] {
    padding: 5px;
    width: 250px;
}

.search-bar button {
    padding: 5px 10px;
    background-color: #ff6f61;
    color: white;
    border: none;
    cursor: pointer;
}

.logout button {
	padding: 5px 10px;
    background-color: #ff6f61;
    color: white;
    border: none;
    cursor: pointer;
}

.body-container {
    padding: 20px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
}

.product-item {
    background-color: white;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 15px;
    width: calc(33.333% - 40px);
    box-sizing: border-box;
    text-align: center;
}

.product-item img {
    max-width: 100%;
    height: auto;
}

.product-item h3 {
    font-size: 18px;
    margin: 10px 0;
}

.product-item p {
    font-size: 14px;
    color: #555;
}

.product-item span {
    font-weight: bold;
    color: #ff6f61;
}

.footer-container {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

